
.cardInfo {
  width: 500px;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
}

.cardWrapper {
  height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.neutral {
  background: url('https://www.transparenttextures.com/patterns/lined-paper.png'), linear-gradient(180deg, rgba(244, 222, 76, 0.2) 0%, rgba(244, 222, 76, 0.08) 100%);
  border-left: rgb(244, 222, 76) 5px solid;
}

.dark {
  background: url('https://www.transparenttextures.com/patterns/lined-paper.png'), linear-gradient(180deg, rgba(255,46,24, 0.2) 0%, rgba(255,46,24, 0.08) 100%);
  border-left: rgb(255,46,24) 5px solid;
}

.light {
  background: url('https://www.transparenttextures.com/patterns/lined-paper.png'), linear-gradient(180deg, rgba(35,107,253, 0.2) 0%, rgba(35,107,253, 0.08) 100%);
  border-left: rgb(35,107,253) 5px solid;
}

.filters {
  width: 500px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.filterList {
  height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filterList button {
  flex: 1 1;
    cursor: pointer;
}