/* PLACEHOLDER */
.radar{
  width: 450px;
  height: 450px;
  background-color: orange;
  opacity: 0.2;
}
/* ---------- */

.neutral {
  background: linear-gradient(180deg, rgba(244, 222, 76, 0.4) 0%, rgba(244, 222, 76, 0.05) 100%);
  border-left: var(--neutral-yellow) 1px solid;
  color: var(--neutral-yellow);
  text-shadow: 0px 0px 2px var(--neutral-yellow);
}

.dark {
  background: linear-gradient(180deg, rgba(255,46,24, 0.4) 0%, rgba(255,46,24, 0.05) 100%);
  border-left: var(--dark-red) 1px solid;
  color: var(--dark-red);
  text-shadow: 0px 0px 2px var(--dark-red);
}

.light {
  background: linear-gradient(180deg, rgba(169,251,213, 0.4) 0%, rgba(169,251,213, 0.05) 100%);
  border-left: var(--light-turquoise) 1px solid;
  color: var(--light-turquoise);
  text-shadow: 0px 0px 2px var(--light-turquoise);
}

.cardInfo {
  width: 532px;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  /* background: url('./assets/hologram-texture.png'); */
}

.cardWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}

.characterPicture {
  width: 120px;
  height: 120px;
  margin-right: 28px;
}

.characterPicture-neutral {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(244, 222, 76, 0.5));
  filter: drop-shadow(0px 0px 6px rgba(244, 222, 76, 0.5));
}

.characterPicture-dark {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(206,16,44,0.5));
  filter: drop-shadow(0px 0px 6px rgba(206,16,44,0.5));
}

.characterPicture-light {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(169, 251, 213, 0.5));
  filter: drop-shadow(0px 0px 6px rgba(169, 251, 213, 0.5));
}

.nameDefault {
  font-size: 32px;
  text-transform: uppercase;
}

.nameAurebesh-neutral {
  font-size: 14px;
  color: var(--neutral-green);
  text-shadow: 0px 0px 2px var(--neutral-green);
}

.nameAurebesh-dark {
  font-size: 14px;
  color: var(--dark-crimson);
  text-shadow: 0px 0px 2px var(--dark-crimson);
}

.nameAurebesh-light {
  font-size: 14px;
  color: var(--light-blue);
  text-shadow: 0px 0px 2px var(--light-blue);
}

.characterInfoWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.characterInfoContainer {
  display: flex;
  flex-direction: row;
}