
.cardInfo {
  width: 500px;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
}

.cardWrapper {
   height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carre{ 
  width: 60%;
  height: 70%;
 
  border-radius: 5px;
  margin: 0 auto;

border:#666 solid 1px;
}
.radar{
  width:700px;
  height: 550px;
 position: relative;
 right:35%;

  
}
img{
  width:30%;
}

.neutral {
  background: url('https://www.transparenttextures.com/patterns/lined-paper.png'), linear-gradient(180deg, rgba(244, 222, 76, 0.2) 0%, rgba(244, 222, 76, 0.08) 100%);
  border-left: rgb(244, 222, 76) 5px solid;
}

.dark {
  background: url('https://www.transparenttextures.com/patterns/lined-paper.png'), linear-gradient(180deg, rgba(255,46,24, 0.2) 0%, rgba(255,46,24, 0.08) 100%);
  border-left: rgb(255,46,24) 5px solid;
}

.light {
  background: url('https://www.transparenttextures.com/patterns/lined-paper.png'), linear-gradient(180deg, rgba(35,107,253, 0.2) 0%, rgba(35,107,253, 0.08) 100%);
  border-left: rgb(35,107,253) 5px solid;
}