/* PLACEHOLDER */
.radar{
  width: 450px;
  height: 450px;
  /* background-color: orange;
  opacity: 0.2; */
}

.carre {
  width: 800px;
  height: 340px;
  border-radius: 5px;
  margin: 0 auto;

  border: 1px solid#666;
}
/* ---------- */

.neutral {
  background: linear-gradient(180deg, rgba(244, 222, 76, 0.4) 0%, rgba(244, 222, 76, 0.05) 100%);
  border-left: var(--neutral-yellow) 1px solid;
  color: var(--neutral-yellow);
  text-shadow: 0px 0px 2px var(--neutral-yellow);
}

.dark {
  background: linear-gradient(180deg, rgba(255,46,24, 0.4) 0%, rgba(255,46,24, 0.05) 100%);
  border-left: var(--dark-red) 1px solid;
  color: var(--dark-red);
  text-shadow: 0px 0px 2px var(--dark-red);
}

.light {
  background: linear-gradient(180deg, rgba(169,251,213, 0.4) 0%, rgba(169,251,213, 0.05) 100%);
  border-left: var(--light-turquoise) 1px solid;
  color: var(--light-turquoise);
  text-shadow: 0px 0px 2px var(--light-turquoise);
}

.cardInfo {
  width: 532px;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  font-size: 16px;
}

.cardWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 40px;
}

.cardHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close {
  font-size: 40px;
  cursor: pointer;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.characterPicture {
  width: 100px;
  height: 100px;
  margin-right: 28px;
}

.characterPicture-neutral {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(244, 222, 76, 0.5));
  filter: drop-shadow(0px 0px 6px rgba(244, 222, 76, 0.5));
}

.characterPicture-dark {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(206,16,44,0.5));
  filter: drop-shadow(0px 0px 6px rgba(206,16,44,0.5));
}

.characterPicture-light {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(169, 251, 213, 0.5));
  filter: drop-shadow(0px 0px 6px rgba(169, 251, 213, 0.5));
}

.nameDefault {
  font-size: 32px;
  text-transform: uppercase;
}

.nameAurebesh-neutral {
  font-size: 18px;
  color: var(--neutral-green);
  text-shadow: 0px 0px 2px var(--neutral-green);
}

.nameAurebesh-dark {
  font-size: 18px;
  color: var(--dark-crimson);
  text-shadow: 0px 0px 2px var(--dark-crimson);
}

.nameAurebesh-light {
  font-size: 18px;
  color: var(--light-blue);
  text-shadow: 0px 0px 2px var(--light-blue);
}

.characterData {
  display: flex;
  flex-direction: row;
}

.characterInfoWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 8px;
  margin-right: 80px;
}

.characterInfoWrapper-neutral {
  background: linear-gradient(180deg, rgba(244, 222, 76, 0.1) 0%, rgba(244, 222, 76, 0.05) 100%);
  border: 1px solid var(--neutral-yellow);
}

.characterInfoWrapper-dark {
  background: linear-gradient(180deg, rgba(255,46,24, 0.1) 0%, rgba(255,46,24, 0.05) 100%);
  border: 1px solid var(--dark-red);
}

.characterInfoWrapper-light {
  background: linear-gradient(180deg, rgba(169,251,213, 0.1) 0%, rgba(169,251,213, 0.05) 100%);
  border: 1px solid var(--light-turquoise);
}

.characterInfoContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.divider-neutral {
  flex-grow: 1;
  border-bottom: 1px solid var(--neutral-green);
  margin: 5px;
}

.divider-dark {
  flex-grow: 1;
  border-bottom: 1px solid var(--dark-crimson);
  margin: 5px;
}

.divider-light {
  flex-grow: 1;
  border-bottom: 1px solid var(--light-blue);
  margin: 5px;
}

.characterInfoTitleContainer {
  display: flex;
  flex-direction: column;
}

.characterInfoTitle {
  /* font-size: 16px; */
  text-transform: uppercase;
}

.characterInfoTitle_aurebesh-neutral {
  font-size: 12px;
  color: var(--neutral-green);
  text-shadow: 0px 0px 2px var(--neutral-green);
}

.characterInfoTitle_aurebesh-dark {
  font-size: 12px;
  color: var(--dark-crimson);
  text-shadow: 0px 0px 2px var(--dark-crimson);
}

.characterInfoTitle_aurebesh-light {
  font-size: 12px;
  color: var(--light-blue);
  text-shadow: 0px 0px 2px var(--light-blue);
}

.characterInfoText {
  text-transform: capitalize;
}

.silhouetteContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters {
  width: 500px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.filterList {
  height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filterList button {
  flex: 1 1;
    cursor: pointer;
}

@keyframes flicker {
  0% {
    opacity: 0.26;
  }
  5% {
    opacity: 0.35;
  }
  10% {
    opacity: 0.23;
  }
  15% {
    opacity: 0.90;
  }
  20% {
    opacity: 0.18;
  }
  25% {
    opacity: 0.84;
  }
  30% {
    opacity: 0.66;
  }
  35% {
    opacity: 0.68;
  }
  40% {
    opacity: 0.27;
  }
  45% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.96;
  }
  55% {
    opacity: 0.09;
  }
  60% {
    opacity: 0.20;
  }
  65% {
    opacity: 0.72;
  }
  70% {
    opacity: 0.53;
  }
  75% {
    opacity: 0.37;
  }
  80% {
    opacity: 0.71;
  }
  85% {
    opacity: 0.70;
  }
  90% {
    opacity: 0.70;
  }
  95% {
    opacity: 0.36;
  }
  100% {
    opacity: 0.24;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.44px 0 1px rgba(0,30,255,0.5), -0.44px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.79px 0 1px rgba(0,30,255,0.5), -2.79px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}