:root {
  --neutral-yellow: rgba(244, 222, 76, 1);
  --neutral-green: rgba(74, 220, 137, 1);
  --light-turquoise: rgba(169, 251, 213, 1);
  --light-blue: rgba(71, 131, 250, 1);
  --dark-crimson: rgba(120, 120, 120, 1);
  --dark-red: rgba(233, 0, 34, 1);
}

body {
  cursor: url('./assets/cursor.svg'), auto;
  margin: 0;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.aurebesh {
  font-family: "Aurebesh";
}

@font-face {
  font-family: 'aurebesh';
  src: url(./fonts/aurebesh/Aurebesh.ttf) format('truetype');
}

@font-face {
  font-family: 'itc';
  src: url(./fonts/itc/SerifGothicStd-ExtraBold.otf) format('truetype');
}

@font-face {
  font-family: 'space-grotesk-bold';
  src: url(./fonts/space-grotesk/SpaceGrotesk-Bold.woff2) format('truetype');
}

@font-face {
  font-family: 'space-grotesk-medium';
  src: url(./fonts/space-grotesk/SpaceGrotesk-Medium.woff2) format('truetype');
}
